<!doctype html>
<html lang="en">

<head>
    <title>Rabkin | Portfolio</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <!-- CSS link -->
    <link rel="stylesheet" href="style.css">

    <!-- Vue.js framework -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>

    <!-- GSAP link -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>

    <!-- Boxicons link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- Navbar (fixed top navigation bar) -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <!-- Navbar brand/logo -->
            <a class="navbar-brand" href="index.html">
                <img src="imgs/kr-logo.png" alt="KR">
            </a>
            <!-- Hamburger menu -->
            <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
                <span class="toggler-icon bottom-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <button class="nav-link text-lg-center" aria-current="page"
                            onclick="scrollToSection('about');">About Me</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link text-lg-center" aria-current="page"
                            onclick="scrollToSection('skills');">Skills</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link text-lg-center" aria-current="page"
                            onclick="scrollToSection('work');">My Work</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link text-lg-center" aria-current="page"
                            onclick="scrollToSection('contact');">Contact</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="vue_app">

        <!-- header section -->
        <div class="header row d-flex justify-content-center">
            <div class="circle-shape">
                <div class="blocks d-flex justify-content-center align-items center">
                    <div class="block-1 block">R</div>
                    <div class="block-2 block">A</div>
                    <div class="block-3 block">B</div>
                    <div class="block-4 block">K</div>
                    <div class="block-5 block">I</div>
                    <div class="block-6 block">N</div>
                </div>
                <div class="d-flex justify-content-center flex-column align-items-center header-info">
                    <p class="header-job text-center">Web Developer and Programmer</p>
                    <button class="btn explore" onclick="scrollToSection('about');">Explore</button>
                </div>
            </div>

        </div>

        <!-- about section -->
        <div class="about" id="about">
            <div class="about-row row d-flex justify-content-center align-items-center">
                <div class="col-12 col-lg-8 about-text">
                    <h1 class="about-title text-center">About Me</h1>
                    <p class="the-about-text text-center">I’m currently a senior at Marlboro High School and have
                        committed to Stevens Institute of Technology, where I plan to major in Computer Science with a
                        minor in Cybersecurity. I'm passionate about technology and excited to dive deeper into the
                        field in college. Outside of academics, I play hockey, which has taught me discipline, teamwork,
                        and perseverance—qualities I carry into everything I do.</p>
                </div>
                <div class="col-12 col-lg-4 about-image d-flex justify-content-center align-items-center">
                    <img src="imgs/header-img.png" alt="" class="about-img">
                </div>
            </div>
        </div>
        <div class="skills" id="skills">
            <h1 class="skills-title text-center">Skills</h1>
            <div class="skills-row row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-6">
                    <h1 class="langueges-title text-center">Languages</h1>
                    <div class="row">
                        <div class="col-6 d-flex justify-content-center align-items-center flex-column skill"
                            v-for="lang in langs" :key="lang.id">
                            <img v-bind:src="lang.img" alt="" class="skill-img">
                            <h1 class="skill-name">{{lang.name}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h1 class="langueges-title text-center">Libraries</h1>
                    <div class="row">
                        <div class="col-6 d-flex justify-content-center align-items-center flex-column skill library"
                            v-for="library in libraries" :key="library.id">
                            <img v-bind:src="library.img" alt="" class="skill-img">
                            <h1 class="skill-name">{{library.name}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact" id="contact">
            <h1 class="contact-title text-center">Contact</h1>
            <div class="contact-container">
                <div class="form">
                    <div class="contact-info">
                        <h3 class="title">Let's get in touch</h3>
                        <p class="text">Have a project in mind, a question to ask, or just want to connect? I'm always
                            open to new conversations and collaborations. Feel free to reach out—I'll get back to you as
                            soon as possible!</p>
                        <div class="info">
                            <div class="information">
                                <img src="imgs/email-icon.png" alt="" class="icon">
                                <p>Kylerabkin6161@gmail.com</p>
                            </div>
                            <div class="information">
                                <img src="imgs/phone-icon.png" alt="" class="icon">
                                <p>732-754-1603</p>
                            </div>
                        </div>
                        <div class="social-media">
                            <p class="title">Connect with me:</p>
                            <div class="social-icons">
                                <a href="https://www.instagram.com/k.rabkin_61/" target="_blank">
                                    <i class='bx bxl-instagram-alt'></i>
                                </a>
                                <a href="https://www.linkedin.com/in/kyle-rabkin-15704b361/" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                                <a href="https://github.com/KyleRabkin61" target="_blank" class="">
                                    <i class='bx bxl-github'></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="contact-form">
                        <span class="circle one"></span>
                        <span class="circle two"></span>
                        <form id="contactForm" action="https://api.web3forms.com/submit" method="POST"
                            onsubmit="handleSubmit(event)">
                            <h3 class="contact-form-title">Contact me</h3>
                            <div class="input-container">
                                <input type="hidden" name="access_key" value="aa22d3b7-4e4d-4aca-8bdf-001fb86ad749">
                                <input type="text" name="name" class="input">
                                <label for="">Name</label>
                                <span>Name</span>
                            </div>
                            <div class="input-container">
                                <input type="email" name="email" class="input">
                                <label for="">Email</label>
                                <span>Email</span>
                            </div>
                            <div class="input-container">
                                <input type="tel" name="phone" class="input">
                                <label for="">Phone</label>
                                <span>Phone</span>
                            </div>
                            <div class="input-container textarea">
                                <textarea name="message" class="input"></textarea>
                                <label for="">Message</label>
                                <span>Message</span>
                            </div>
                            <input type="submit" value="Send" class="contact-btn">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <script src="script.js"></script>
</body>

</html>