.navbar {
  transition: all 0.25s;
  opacity: 0;
}

.navbar-brand img {
  height: clamp(70px, 11vw, 90px);
}

.navbar .container-fluid {
  padding-right: calc(var(--bs-gutter-x)* .5) !important;
  padding-left: calc(var(--bs-gutter-x)* .5) !important;

}

.navbar-scrolled {
  background-color: #1F2020;
  border-bottom: 5px solid white;
}

.nav-link {
  color: white;
  font-size: clamp(20px, 2vw, 40px);
  font-weight: 1000;
  letter-spacing: 0.2px;
  margin: 0 20px;
  font-family: "Playfair Display", serif;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #1F2020;
  paint-order: stroke fill;
  position: relative;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.25s;
  height: 4px;
  width: 100%;
  background: #7DABFF;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover {
  color: #7DABFF;
}

.nav-link:hover::after {
  opacity: 1;
}

.nav-link:focus {
  color: white !important;
}

/*hamburger menu css*/

.navbar-toggler {
  width: 50px;
  height: 30px;
  position: relative;
  transition: all .25s;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  top: 10px;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.container-fluid {
  padding: 0 !important;
}

/* header css */

.header {
  height: 100svh;
  background: repeating-linear-gradient(
    to right,
    #252525 0%,
    #252525 20%,
    #383838 20%,
    #383838 40%,
    #383838 40%,
    #383838 60%,
    #383838 60%,
    #383838 80%,
    #252525 80%,
    #252525 100%
  );
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.blocks {
  position: relative;
  top: 25%;
  height: fit-content;
}

.block {
  font-size: clamp(35px, 7vw, 70px);
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: white;
}

.circle-shape {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: clamp(350px, 40vw, 600px);
	height: clamp(350px, 40vw, 600px);
	border-radius: 100%;
  background: #1F2020;;
  border: 5px solid #7DABFF;
  box-shadow: 0px 1px 4px 5px rgba(0, 0, 0, 0.5);
}

.header-info {
  position: relative;
  top: clamp(120px, 11vw, 180px);
}

.header-job {
  color: white;
  font-family: "Ancizar Sans", sans-serif;
  width: fit-content;
  height: fit-content;
  opacity: 0;
}

.explore {
  background: #2D2D2D;
  color: white;
  font-family: "Ancizar Sans", sans-serif;
  box-shadow: 0px 1px 4px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
  border: 2px solid white;
  width: fit-content;
  height: fit-content;
  opacity: 0;
  z-index: 2;
}

.explore:hover {
  background: #2D2D2D;
  color: white;
  border: 2px solid #7DABFF;
}

.explore:active {
  background: #2D2D2D !important;
  color: white !important;
  border: 2px solid #7DABFF !important;
  box-shadow: none !important;
}

@media screen and (max-height: 600px) {
  .header {
    height: 600px;
  }
  .circle-shape {
    transform: translate(-50%, -30%);
  }
}

/* about css */

.about {
  background: #333333;
  height: auto;
  padding: clamp(50px,7vw, 75px) 0;
}

.about-row {
  position: relative;
  padding: 5vw;
  margin: 0;
}

.about-title {
  font-size: clamp(40px, 7vw, 60px);
  font-weight: 700;
  color: white;
  position: relative;
  margin-bottom: 50px;
  font-family: "Playfair Display", serif;
}

.about-title::after {
  position: absolute;
  content: ' ';
  width: clamp(75px, 6vw, 150px);
  height: 4px;
  left: 50%;
  top: 75px;
  bottom: -10px;
  background-image: linear-gradient(to right, #2076DB, #7DABFF);
  transform: translate(-50%);
}

.about-text {
  padding: clamp(5px, 2vw, 20px);
}

.the-about-text {
  font-size: clamp(18px, 2vw, 30px);
  font-family: "Ancizar Sans", sans-serif;
  color: white;
}

.about-img {
  width: clamp(250px, 20vw, 400px);
  border: 5px solid white;
  box-shadow: 0px 1px 4px 5px rgba(0, 0, 0, 0.5);
}

/* skills css */

.skills {
  background: #D9D9D9;
  height: auto;
  padding: 150px 0;
}

.skills-row {
  position: relative;
  padding: 50px;
  margin: 0;
}

.skills-title {
  font-size: clamp(50px, 7vw, 60px);
  font-weight: 700;
  color: #1F2020;
  position: relative;
  margin-bottom: 50px;
  font-family: "Playfair Display", serif;
}

.skills-title::after {
  position: absolute;
  content: ' ';
  width: clamp(75px, 6vw, 150px);
  height: 4px;
  left: 50%;
  top: 75px;
  bottom: -10px;
  background-image: linear-gradient(to right, #2076DB, #7DABFF);
  transform: translate(-50%);
}

.skill-img {
  width: clamp(75px, 10vw, 125px);
  height: clamp(75px, 10vw, 125px);
  object-fit: cover;
  margin: 20px;
}

.skill-name {
  color: #1F2020;
  font-family: "Playfair Display", serif;
  font-size: clamp(20px, 5vw, 35px);
}
